*{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', Calibri, 'Trebuchet MS', sans-serif;
}

.titles{
    margin: auto;
    width: 15%;
    border-bottom: 3px solid #89D99C;
    color:#0B2B40;
    font-size: 30px;
    padding-bottom: 5px;
    letter-spacing: 4px;
}

.class{
    animation: expandLine 2s .5s forwards;
}

@keyframes expandLine {
    1% {
      width: 15%
    }
  
    100% {
      width: 80%;
    }
}


/*Styles for tablets and cell phones*/
@media only screen and (max-width: 850px) {
    #message img, header ul li a, #about{
        display:none;
    }
    #message h1{
        font-size: 15px;
        height: 25px;
        width: 320px;
    }
  }

/*Styles for computers*/
@media only screen and (min-width: 850px) {
    #message h1{
        font-size: 25px;
        height: 45px;
        width: 550px;
    }
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    transition: 0.7s;
    padding: 10px 10px;
    z-index: 10;
}
header.abajo{
    background: rgb(30, 30, 40);
}

header .logo{
    position: relative;
    color: #89D99C;
    font-weight: bold;
    font-size: 22px;
    letter-spacing: 2px;
    transition: 1.5s;
    text-decoration: none;
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li{
    list-style: none;
}

header ul li a{
    position: relative;
    font-size: 14px;
    margin: 15px;
    text-decoration: none;
    color: #89D99C;
    letter-spacing: 2px;
    font-weight: 600;
    transition: 0.7s;
}

header.abajo .logo,
header.abajo ul li a{
    color: #e8ecff;
}


body{
    background-color: #e8ecff;
    height: 400vw;
}

#message{
    margin-top: 250px;
    text-align: center;
    display: flex;
    justify-content: center;
    height: 250px; 
}

#message img{
    margin-right: 30px;
    width: 200px;
    height: 200px;
    min-width: 40px;
    min-height: 40px;
    max-width: 120px;
    max-height: 120px;
    background-color: #89D99C;
    border-radius: 25px;
    padding: 5px;
    box-shadow: -5px 6px 15px -6px rgba(0,0,0,0.75);
}

#message h1{
    margin-top: 35px;
    padding-top: 15px;
    padding-bottom: 5px;
    box-shadow: -5px 6px 15px -6px rgba(0,0,0,0.75);
    color: #0B2B40;
    background-color: #89D99C;
    border-radius: 25px 25px 25px 0;
}

#about{
    margin-top: 100px;
    background-color: #89D99C;
    padding: 20px 20px;
    height: 30vw;
    min-height: 350px;
    margin-left: 100px;
    border-top-left-radius: 280px;
    border-bottom-left-radius: 120px;
    box-shadow: -5px 6px 15px -6px rgba(0,0,0,0.75);
}

#about .line-1{
    text-align: center;
    display: flex;
    justify-content: center;
    margin-left: 100px;
    margin-top: 30px;
}

#about .back{
    margin-right: 40px;
    background-color: #e8ecff;
    border-radius: 110px;
    padding: 20px;
    margin-right: 0;
}

#about img{
    width: calc(14vh + 14vw);
    height: calc(14vh + 14vw);
    background-color: #e8ecff;
    border-radius: 200px;
}

#about .text{
    margin-right: 50px;
    margin-top: 30px;
}

#about .title{
    font-size: calc(1.8vh + 1.8vw);
    text-align: left;
    color: #0B2B40;
    font-family:'Gill Sans MT';
}

#about .about-text{
    font-size: 1.5vw;
    font-weight: 500;
    text-align: justify;
    color: #0B2B40;
    font-family: 'Roboto';
    margin-top: 10px;
}

#about .contactButton{
    text-align: center;
    padding: 10px 0px 2px 0px;
    color: #e8ecff;
    background-color: #0B2B40;
    margin-left: 100px;
    width: 120px;
    height: 32px;
    font-size: 18px;
    border-radius: 12px;
    cursor: pointer;
    box-shadow: -3px 3px 0px 0px rgba(82, 82, 82);
    transition: width .5s, height .5s;
}
#about .contactButton:hover{
    width: 125px;
    height: 34px;
}

#skills{
    text-align: center;
    margin-top: 10%;
}

#skills .percentages{
    padding: 30px 0 50px 0;
    display: flex;
    justify-content: center;
}

.leftside{
    margin-right: 20%;
}

#skills .language{
    font-size: 15px;
    margin: 25px;
}

#skills .percentages .barra{
    width: 300px;
    background-color: #0B2B40;
    height: 5px;
    margin: auto;
    border-radius: 5px;
}

.percent{
    background-color: #89D99C;
    height: 100%;
}

#js-percent{
    width: 85%;
}

#php-percent{
    width: 65%;
}

#laravel-percent{
    width: 60%;
}

#java-percent, #c-percent{
    width: 90%;
}

#html-percent, #sql-percent{
    width: 70%;
}

#css-percent, #python-percent, #django-percent{
    width: 75%;
}

#skills .targets{
    display: flex;
    justify-content: center;
}

.skills{
    background-color: #0B2B40;
    height: 400px;
    width: 300px;
    margin-bottom: 15%;
    border-radius: 10px;
    box-shadow: -5px 6px 15px -6px rgba(0,0,0,0.75);
}

.skills .title{
    font-size: 25px;
    color: #89D99C;
}

.skills .text{
    font-weight: 500;
    font-size: 20px;
    text-align: justify;
    color: #cbcee0;
    margin: 10%;
}

.skills img{
    margin: 5%;
    width: 70px;
    height: 70px;
}

#special{
    position: fixed;
    top: 100;
    left: 0;
    z-index: 10;
}

/*SECCION 3---------------------*/
#education {
    margin-top: 10%;
    text-align: center;
    height: 500px;
}

#education #etitle{
    margin-bottom: 5%;
}

#education nav{
    display: inline;
}

#education .squareTray{
    background-color: #0B2B40;
    margin:auto;
    width: 650px;
    border-radius: 10px;
    text-align: center;
    color: #89D99C;
    font-size: 12px;
    box-shadow: -5px 6px 15px -6px rgba(0,0,0,0.75);
    height: 10%;

    transition: height .2s;
}

#education .checkboxSquareTray:checked + .squareTray{
    height: 48%;
    transition: height .2s;
}

#education label{
    padding: 2% 0 2%;
    width: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

#education label img{
    width: 20px;
    height: 20px;
    margin-left: 4%;
}

#education .ibm{
    width: 25px;
    height: 25px;
}

#education .info{
    background-color: #e8ecff;
    height: 80%;
}

#education .checkboxSquareTray{
    display: none;
}

#education .info h2{
    background: none;
    text-align: justify;
    padding: 4%;
    color: #0B2B40;
}

#education .calendar{
    background: none;
    display: flex;
    padding: 0 4% 2%;
}

#education .info img{
    height: 17px;
    width: 17px;
    margin-right: 1%;
}

#education .info h3{
    background: none;
    text-align: justify;
    color: #5c5c5c;
}

#education .backLine{
    position: relative;
    padding: 0;
    margin: auto;
    width: 4px;
    height: 45px;
    background-color: #8a8a8a;
    z-index: -1;
}


/*____________________________________________________*/
#portfolio .partright .text{
    text-align: justify;
    transform: translateY(-150%);
    animation: appear 2s 4s forwards;
    position: absolute;
    color: #cbcee0;
    left: 5%;
    top: 15%;
    width: 50%;
    height: 80%;
}

#portfolio .partright .text h2{
    font-weight: 100;
}

#portfolio{
    margin-top: 5%;
    background-color: #89D99C;
    padding: 40px;
    margin-right: 50%;
    border-top-right-radius: 280px;
    border-bottom-right-radius: 120px;
    box-shadow: -5px 6px 15px -6px rgba(0,0,0,0.75);
    display: flex;

}

#ptitle{
    text-align: center;
    margin-top: 10%;
    margin-bottom: 5%;
}

#portfolio .line{
    height: 300px;
    width: 5px;
    background-color: #0B2B40;
    position: relative;
    z-index: 0;
}

#portfolio #lineLeft{
    transform: rotate(38deg);
}

#portfolio #lineRight{
    transform: rotate(-38deg);
}

#portfolio .imgProj{
    padding: 10px;
    height: 110px;
    width: 110px;
    border: 4px solid #0B2B40;
    background-color: #89D99C;
    box-shadow: -5px 6px 15px -6px rgba(0,0,0,0.75);
    border-radius: 100px;
    position: relative;
    z-index: 1;
    transition: height .5s, width .5s, background-color .5s;
}

#portfolio .imgProj:hover{
    height: 120px;
    width: 120px;
    background-color: #34ac50;
    cursor: pointer;
    
}

.partition{
    text-align: center;
    color: #18537a;
}

.blanck{
    height: 50%
}

#portfolio .proyects{
    display: flex;
    height: 100%;
}



#portfolio .partright{
    background-color: #0B2B40;
    height: 420px;
    width: 800px;
    position: absolute;
    left: 38%;
    margin-top: -4%;
    box-shadow: -5px 6px 15px -6px rgba(0,0,0,0.75);
    border-radius: 20px;
    overflow: hidden;
    display: none;
}

#laptop{
    height: 90%;
    width: 90%;
    margin: auto;
    margin-top: 3%;
    transform: translateY(-150%);
    animation: appear 2s forwards;
}

@keyframes appear {
    1% {
        transform: translateY(-150%);
    }
    100% {
        transform: translateY(0%);
    }
}

.laptop-top{
    display: flex;
    justify-content: center;
    background-color: #cbcee0;
    height: 92%;
    width: 75%;
    margin: auto;
    border-radius: 10px 10px 2px 2px;
    box-shadow: -5px 6px 15px -6px rgba(0,0,0,0.75);
}


.laptop-bottom{
    background-color: #e8ecff;
    display: flex;
    justify-content: center;
    height: 8%;
    width: 90%;
    margin: auto;
    border-radius: 0px 0px 10px 10px;
    box-shadow: -5px 6px 15px -6px rgba(0,0,0,0.75);
}

.border{
    border-radius: 10px 10px 2px 2px;
    background-color: #1e1e28;
    height: 98%;
    width: 98.5%;
    margin-top: .5%;
    justify-content: center;
}

#laptop .camera{
    width: 2.4%;
    height: 3.5%;
    margin-left: 48.8%;
    border-radius: 100%;
    margin-top: .5%;
    background-color: black;
}

#laptop img{
    height: 92%;
    width: 95%;
    margin-left: 2.5%;
    margin-top: .5%;
}

#laptop .loading{
    background-color: black;
    height: 92%;
    width: 95%;
    margin-left: 2.5%;
    margin-top: .5%;
    display: flex;
    justify-content: center;
}

#laptop .loading h2{
    color: #e8ecff;
    font-family: arial;
    letter-spacing: 2px;
    font-size: 16px;
    position: relative;
    bottom: -88%;
}

@keyframes resize {
    1% {
        width: 90%;
        height: 90%;
        transform: translate(0%, 0%);
    }
    100% {
        width: 40%;
        height: 40%;
        transform: translate(70%, 60%);
    }
}


/*:::::::::::::::::::::::::::::::::::::::::::::::::::*/

#computer {
	position: relative;
	height:80%;
    width: 80%;

    margin: auto;
    margin-top: 3%;
    transform: translateY(-150%);
    animation: appear 2s forwards;
}

#computer img{
    height: 92%;
    width: 95%;
    margin-left: 2.5%;
    margin-top: 2%;
    border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}

.computer-monitor {
	margin: 0 auto;
	height: 90%;
    width: 80%;
	background-color: #546E7A;
    border-radius: 10px 10px 0px 0px;
}
.computer-bottom {
	position: relative;
	z-index: 1;
	box-shadow: 5px 5px 11px rgba(0,0,0,0.25);
	margin: 0 auto;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
	width: 80%;
	height: 12%;
	background-color: #F5F5F5;
}
.computer-stand {
	box-shadow: 5px 5px 11px rgba(0,0,0,0.25);
	position: relative;
	z-index: 0;
	margin: 0 auto;
	height: 10%;
	width: 20%;
	background-color: #EEEEEE;
	clip-path: polygon(5% 0%, 95% 0%, 100% 100%, 0% 100%);
}
.computer-stand-bottom {
	box-shadow: 5px 5px 11px rgba(0,0,0,0.25);
	margin: 0 auto;
	height: 5%;
	width: 25%;
	background-color: #F5F5F5;
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
}