@media (max-width: 1200px) {
    .project {
        flex-wrap: wrap;
    }

    .portfolio .project-description, .portfolio .project-showcase {
        width: 80%;
    }
}

@media (max-width: 700px) {
    .project .project-description .project-text {
        font-size: 12px;
    }

    .project .project-description h4 {
        font-size: 14px;
    }

    .projects-gap h4 {
        font-size: 14px;
    }

    .projects-gap .title {
        font-size: 18px;
    }

    .portfolio .project-showcase .desktop {
        width: 220px;
    }
    
    .portfolio .project-showcase .mobile {
        width: 90px;
    }
    
    .portfolio .project-description .img-technologie {
        width: 25px;
    }
}

@media (min-width: 700px) {
    .portfolio .project-showcase .desktop {
        width: 500px;
    }
    
    .portfolio .project-showcase .mobile {
        width: 200px;
    }

    .portfolio .project-description .img-technologie {
        width: 40px;
    }

    .project .project-description .project-text {
        font-size: 16px;
    }

    .project .project-description h4 {
        font-size: 18px;
    }

    .projects-gap h4 {
        font-size: 16px;
    }

    .projects-gap .title {
        font-size: 22px;
    }

    .portfolio .project-description, .portfolio .project-showcase {
        width: 50%;
    }
}

.project{
    display: flex;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;
}

.project h4, .project p {
    text-align: center;
    letter-spacing: 2px;
}

.project h4 {
    font-weight: 600;
}

.portfolio .project {
    display: flex;
    padding-top: 5%;
    padding-bottom: 5%;
}

.portfolio .project-section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.portfolio .project-description {
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
}

.portfolio .project-showcase, .project .project-description h4 {
    cursor: pointer;
}

.portfolio .project-showcase img {
    box-shadow: 0px 0px 15px -2px rgba(0, 0, 0, .5);
    border-radius: 5px;
}

.portfolio .project-description .project-text {
    margin-top: 15px;
    margin-bottom: 15px;
}

.portfolio .project-showcase .img-showcase {
    transform: scale(.8);
    transition: transform .5s;
}

.portfolio .project-showcase:hover > .img-showcase {
    transform: scale(.9);
}


.projects-gap {
    display: grid;
    grid-template-columns:
        repeat(
            auto-fit,
            minmax(400px, 1fr)
        );
    gap: 25px;
}

.sm-project {
    cursor: pointer;
    text-align: center;

    margin: 25px;
    padding: 20px;
    background-color: #0B2B40;

    box-shadow: -5px 6px 15px -6px rgba(0,0,0,0.75);
    border-radius: 5px;
}

.sm-project .title {
    color: #89D99C;
}

.sm-project h4 {
    color: #cbcee0;
}

.sm-project img {
    width: 100%;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    margin-bottom: 10px;
    height: 70%;
    border-radius: 5px;
}