/*------------------ Skills Section ------------------*/
@media (max-width: 756px) {
    #skills .skill-type {
        font-size: 18px;
    }

    #skills h4 {
        font-size: 14px;
    }

    #skills img {
        width: 60px;
    }
}
@media (min-width: 756px) {
    #skills .skill-type {
        font-size: 22px;
    }

    #skills h4 {
        font-size: 18px;
    }

    #skills img {
        width: 80px;
    }
}

#skills{
    text-align: center;
    padding-top: 10%;
}

#skills .skills-showcase {
    padding-left: 10%;
    padding-right: 10%;
}

#skills h3, #skills h4{
    text-align: center;
}

#skills .skill-type {
    margin-top: 60px;
    margin-bottom: 10px;
}

#skills .skill {
    margin: 10px;
    text-align: center;
}

#skills .skills-table {
    display: grid;
    grid-template-columns:
        repeat(
            auto-fit,
            minmax(100px, 1fr)
        );
    gap: 20px;
}