/*------------------ Welcome Message ------------------*/
@media (max-width: 756px) {
    #message img{
        display: none;
    }
}
#message {
    display: flex;
    justify-content: center;
    height: 100vh;
}
  
#message h1 {
    padding: 15px;
    color: #0B2B40;
    background-color: #89D99C;
    align-self: center;
    border-radius: 25px 25px 25px 0;
    box-shadow: -5px 6px 15px -6px rgba(0, 0, 0, 0.75);
}
  
#message img {
    margin-right: 30px;
    width: 100px;
    height: 100px;
    background-color: #89D99C;
    padding: 8px;
    align-self: center;
    border-radius: 25px;
    box-shadow: -5px 6px 15px -6px rgba(0, 0, 0, 0.75);
}